@charset "UTF-8";

/* Color Scheme */

:root {
    --dark-blue: #0d1f2d;
    --medium-gray: #546a7b;
    --light-gray: #9ea3b0;
    --pink: #fae1df;
    --tan: #e4c3ad;
    --yellow: #f7f600;
    --red: #ff0000;
    /* Define the red color */
    --pink: #fae1df
}

/* General Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--medium-gray);
    color: var(--pink);
}

header,
main,
footer {
    max-width: 1000px;
    margin: 0 auto;
    width: 95%;
    padding: 20px;
}

header {
    background-color: var(--dark-blue);
    color: var(--pink);
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: var(--pink);
    /* Default link color */
    text-decoration: none;
    /* Remove underline */
    transition: color 0.3s ease, font-size 0.3s ease;
}

nav ul li a:hover {
    color: var(--red);
    font-size: 1.2rem;
}

main h1 {
    text-align: center;
    margin-bottom: 0;
    color: aquamarine;
}

main p {
    text-align: center;
    font-size: 1.2rem;

}

#daily-text {
    color: var(--yellow);
    /* Or use the specific hex color code #f7f600 */
}

main .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--dark-blue);
    color: var(--pink);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
}

main .btn:hover {
    background-color: var(--pink);
    color: var(--dark-blue);
}

footer {
    background-color: var(--dark-blue);
    color: var(--pink);
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
}