/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hwb(43 73% 5%);
    color: #0d38fa;
}

/* Header Styles */
header {
    background-color: #333;
    color: #db28e4;
    padding: 10px 0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #11eb44;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 10px;
}

header nav ul li a:hover {
    background-color: #f41515;
    border-radius: 5px;
}

/* Hero Section */
.hero {
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 60px 20px;
    color: #fff;
}

h1 {

    color: #22cc5e;
}



.hero h1 {
    font-size: 48px;
    margin: 0;
    color: #000000e9;
}

.hero p {
    font-size: 20px;
    margin: 10px 0 20px;
}

.hero .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.hero .btn:hover {
    background-color: #555;
}

/* Footer Styles */
footer {
    background-color: #69a0e3;
    color: hsl(71, 82%, 51%);
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
}